<h1>ng-cd step 1: starting point</h1>

<p>
  count: {{ count }} <button (click)="increment()">increment</button> &nbsp;
  <button (click)="count = 0">reset</button>
</p>
<p>clock: {{ now | date: 'mediumTime' }}</p>
<p>selected user: {{ selectedUser?.login }}</p>
<p>
  select a user:
  <select [(ngModel)]="selectedUser">
    <option [ngValue]="user" *ngFor="let user of users">
      {{ user.login }}
    </option>
  </select>
</p>

<img *ngIf="selectedUser" src="{{ selectedUser?.avatar_url }}" />
