<h1>ng-cd step 4: split into components</h1>



<div class="row">
  <p class="box">
    count: {{count}}
    <button (click)="count=0">reset</button>
  </p>
  <p>
    selected user: {{current?.login}}
  </p>
</div>

<div class="row">
  <app-count [count]="count" (countChange)="count = $event"></app-count>
  <app-clock></app-clock>
  <app-user-select [users]="users$ | async" (select)="select($event)"></app-user-select>
</div>

<div class="row" *ngIf="current">
  <app-user-display [user]="current"></app-user-display>
</div>