<h1>ng-cd step 4: split big component into multiple smaller ones</h1>


<div class="flex">
  <div>
    count: {{count}}
    <button (click)="count=0">reset</button>
  </div>
  <div>
    selected user: {{selectedUser?.login}}
  </div>
</div>

<div class="row">
  <app-count [count]="count" (countChange)="count = $event"></app-count>
  <!-- 
   or it is same as 
     <app-count [(count)]="count"></app-count>
   -->
  <app-clock></app-clock>
  <app-user-select [users]="users$ | async" (select)="selectedUser = $event"></app-user-select>
</div>

<div class="row" *ngIf="selectedUser">
  <app-user-display [user]="selectedUser"></app-user-display>
</div>